/* Bytes assigned by Looty9397 */

/* -- Tags -- */

body {
    background-color: #111;
    font-family: Consolas, 'Courier New', monospace;
    padding: 0px;
    margin: 0px;
    color: #ddd;
    text-align: center;
}

canvas {
    border: #ddd solid 2px;
    align-self: center;
}

button {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

input {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    border: #ddd solid 1px;
}

select {
    background-color: #ddd;
    color: #111;
    font-family: inherit;
    border: none;
    width: 100%;
}

/* -- Classes & Pseudoclasses -- */

div.navbar {
    border-bottom: #ddd solid 2px;
}

div.label {
    text-align: left;
}

button.navbar {
    background-color: #222;
    border-style: hidden;
    padding: 10px 15px;
    font-weight: bold;
}

button.opts {
    border: #ddd solid 1px;
    margin-right: 5px;
    width: 100%;
}

button.navbar:hover {
    background-color: #444;
}

button.opts:hover {
    background-color: #333;
}

input.coords {
    width: 57px;
}